<link rel="stylesheet" href="/stylesheets/exampleProfile.css">

<div class="container">
  <div class="img"></div>
  <div class="text">
    <h1>Paulo Nascimento</h1>
    <span>
      Oi, eu sou um desenvolvedor de software e estou buscando novas oportunidades
      em pequenas startups, ou com empreendedores! pode me chamar se quiser!
    </span>
    <h2>Experiência Prévia:</h2>
    <ul>
      <li>Noralax</li>
      <li>GuardaChuva Sustentável</li>
    </ul>
    <a href="/simMessage">Mande uma mensagem!</a>
    <br>
    <a href="/simMeeting">Marque uma reunião!</a>
  </div>
</div>