{{#if @user}}
  you are signed in
{{/if}}

<div class="hero">
  <h1>Empreenda.se</h1>
  <h3>Conectando startups com o mundo</h3>
</div>

<hr>

<div class="feats">
  <div class="feature">
    <h2 class="feat-header">Inspirar</h2>
  </div>

  <div class="feature">
    <h2 class="feat-header">Pertencer</h2>
  </div>

  <div class="feature">
    <h2 class="feat-header">Empreender</h2>
  </div>
</div>