{{!-- {{#if @user}}
  you are signed in
{{/if}} --}}

<div class="hero">
  <h1>Empreenda.se</h1>
  <h3>Conectando startups com o mundo</h3>
</div>

<hr>

<div class="feats">
  <div class="feature">
    <h2 class="feat-header">Inspirar</h2>
    <div class="feat-img feat-img-1"></div>
    <p>
      Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud.
    </p>
  </div>

  <div class="feature">
    <h2 class="feat-header">Pertencer</h2>
    <div class="feat-img feat-img-2"></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur 
      adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. 
      Massa placerat duis ultricies lacus sed turpis 
      tincidunt id aliquet. Vitae congue mauris rhoncus.
    </p>
  </div>

  <div class="feature">
    <h2 class="feat-header">Empreender</h2>
    <div class="feat-img feat-img-3"></div>
    <p>
      Dictumst quisque sagittis purus sit 
      amet volutpat consequat mauris. Risus 
      sed vulputate odio ut enim. Eleifend 
      donec pretium vulputate sapien nec. 
      Dolor sit amet consectetur adipiscing 
      elit duis tristique. Scelerisque mauris 
      pellentesque pulvinar pellentesque
    </p>
  </div>
</div>

<hr>