<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="nav">
    <ul>
      <a href="/"><li>home</li></a>
      {{#if @user}}
      <a href="/profile"><li>Profile</li></a>
      <a href="/logout"><li>logout</li></a>
      {{else}}
      <a href="/login"><li>login in</li></a>
      <a href="/signup"><li>sign up</li></a>
      {{/if}}
    </ul>
  </div>
  
  {{{ body }}}
</body>
</html>