.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  margin-top: 100px;
  transition: ease 0.3s all;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  height : 40vh;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero:hover {
  transform: scale(1.02);
}

.hero > h1 {
  font-weight: bold;
  color: white;
}

.hero > h3 {
  color: white;
}

hr {
  margin: 100px;
  opacity: 0.2;
}

.feats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feats > .feature {
  width: 30%;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
  text-align: center;
}

.feature > h2 {
  margin: 20px 0 20px 0;
}

.feat-img {
  transition: ease 0.3s all;
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
}

.feat-img:hover {
  transform: scale(1.1);
}

.feature > p {
  margin: 20px;
}

.feat-img-1 {
  background-image: url('../images/Icons/png/016-observatory.png');
}

.feat-img-2 {
  background-image: url('../images/Icons/png/030-world.png');
}

.feat-img-3 {
  background-image: url('../images/Icons/png/026-stars.png');
}

@media screen and (max-width: 1000px) {

  .feature {
    min-width: 80%;
    margin: 10% 0 10% 0;
  }

  .main {
    margin: 10px;
  }

}