.container {
  display: flex;
  justify-content: center;
}

select {
  margin-bottom: 5%;
}

input {
  border-style: none;
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 5%;
}

form {
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 90%;
}

@media screen and (max-width: 600px) {
  form {
    width: 80%;
  }
}