<div class="card">
  
  <h2>Name</h2>
  
  <p>{{startup.name}}</p>
  
  <h2>Category</h2>
  
  <p>{{startup.category}}</p>
  
  <h2>Description</h2>
  <div class="description">
    <p>{{startup.description}}</p>
  </div>
</div>
