<div class="card">
  
  <h2>Name</h2>
  
  <p>{{user.username}}</p>
  
  <h2>Email</h2>
  
  <p>{{user.email}}</p>
  
  <h2>Description</h2>
  
  <div class="description">
    <p>{{user.description}}</p>
  </div>

  <div class="like-btn like-btn-bw" user-id="{{user._id}}" user-status="user"></div>

</div>

<br>
