<form action="/signup" method="POST" id="form">
  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  <label for="email">Email</label>
  <input type="email" name="email">

  <label for="description">Description</label>
  <input type="text" name="description">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Sign Up</button>
</form>